{% extends "appbuilder/base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1 style="font-size:35px;">{{_("Welcome to Experiments and Lab Automation (ELA) System!")}}</h1>
    <p>{{_("ELA provides experimental materials scientists and engineers with a convenient system for managing their collaborative projects, experiments / tests, samples, equipment, materials, data and metadata. The system allows (for some features - will allow in the nearest future) - data annotation and curation, manual and automated data files upload and download, multi-criteria search and other valuable features. It is also planned that ELA system will be integrated with MATIN e-collaboration platform for a streamlined user experience.")}}</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
{% endblock %}
